<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        Gadgetbridge exposes its ContentProvider to apps that declare this permission.
        Make sure "Allow 3rd party access" is enabled in Gadgetbridge → Settings.
    -->
    <uses-permission android:name="nodomain.freeyourgadget.gadgetbridge.READ_CONTENT_PROVIDER" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/Theme.PocketCoachCompanion">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
